
header {
    text-align: center;
}

img {
    border: 3px solid #FFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container {
    color: #FFF;
    background-color: #5D5457;
    max-width: 800px;
    margin: 0 auto;

}

.grid {
    display: grid;
    grid-template-columns: 60px 130px auto;
    padding: 20px;
    
}

.grid > div {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    grid-column: 1 / 1;
}

.display_name {
    grid-column: 2 / 2;
    text-align: center;
    
    
}

.status {
    font-style: italic;
    grid-column: 3 / 3;
}

.online {
    color: black;
    background-color: darkseagreen;
    height: 60px;
    
}

/* .online.status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
} */

.online > a {
    color: #456ba3;
    text-decoration: none;
}

.offline {
    background-color: #456ba3;
    height: 60px;
    color: rgb(110, 159, 231)
}

.offline > a {
    color: darkseagreen;
    text-decoration: none;
}


