* {

}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 3px; */
    margin: 20px;
    
}

.twitchtv_results {
    border: 1px solid black;
}

/* .grid div:nth-child(even) {
    background-color: red;
}

.grid div:nth-child(odd) {
    background-color: green;
} */

